
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Arial,sans-serif;
    color: white;
    line-height: 1.5;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 290px;
    width: 300px;
    height: 100%;
    background: #111;
    border-right: sienna solid;
}
#navbar h1 {
    text-align: center;
    font-size: 1.9em;
    font-weight: 600;
    margin: 10px;
    line-height: 1.9;
}
#navbar ul {
    height: 88%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 40px;
    margin: 16px 0;
}
#navbar li {
    list-style: none;
    padding: 8px;
    padding-left: 45px;
    border: 1px solid;
    border-bottom-width: 0;
    position: relative;
    left: -50px;
    width: 100%;
}
.nav-link {
    text-decoration: none;
    color: white;
    
}
#main-doc {
    position: absolute;
    background: #3d3d3d;
    margin-left: 300px;
    padding: 20px;
}
.main-section header {
    font-size: 2.1em;
    color: #3fc7fb;
    font-weight: 600;
}
 section article {
    margin: 20px;
}
section li {
    margin:15px 0px 0px 20px;
}

code {
    display: block;
    background: #111;
    border-radius: 5px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    padding: 20px;
    position: relative;
}

@media only screen and (max-width: 815px){
    #navbar {
        width: 100%;
        position: absolute;
        height: 250px;
        border: none;
        border-bottom: 2px solid;
    }
    #main-doc {
        position: relative;
        margin-top: 250px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 400px){
  #main-doc article {
    margin-left: 0;
  }
  #main-doc li {
    margin-left: 0;
  }
  code {
    white-space: normal;
    padding: 10px;
  }
}
